<aside class="sidebar">

    <div class="logo">
        <img src="../assets/logonyvora.png" alt="Nyvora">
    </div>

    <nav class="sidebar-nav">
        <ul>

            <li data-page="dashboard.html">
                <a href="dashboard.html">
                    <i class="fa-solid fa-chart-line"></i>
                    Dashboard
                </a>
            </li>

            <li data-page="pacientes.html">
                <a href="pacientes.html">
                    <i class="fa-solid fa-users"></i>
                    Pacientes
                </a>
            </li>

            <li data-page="citas.html">
                <a href="citas.html">
                    <i class="fa-solid fa-calendar-check"></i>
                    Citas
                </a>
            </li>

            <li data-page="historial.html">
                <a href="historial.html">
                    <i class="fa-solid fa-folder-open"></i>
                    Historial
                </a>
            </li>

            <li data-page="medicamentos.html">
                <a href="medicamentos.html">
                    <i class="fa-solid fa-pills"></i>
                    Medicamentos
                </a>
            </li>

            <li data-page="tratamientos.html">
                <a href="tratamientos.html">
                    <i class="fa-solid fa-notes-medical"></i>
                    Tratamientos
                </a>
            </li>

            <li data-page="alertas.html">
                <a href="alertas.html">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Alertas
                </a>
            </li>

            <li data-page="metricas.html">
                <a href="metricas.html">
                    <i class="fa-solid fa-weight-scale"></i>
                    Métricas
                </a>
            </li>

            <li data-page="configuracion.html">
                <a href="configuracion.html">
                    <i class="fa-solid fa-gear"></i>
                    Configuración
                </a>
            </li>

        </ul>
    </nav>

    <div class="sidebar-footer">
        <a href="http://localhost:8081/logout.php">
            <i class="fa-solid fa-right-from-bracket"></i>
            Cerrar Sesión
        </a>
    </div>

</aside>